.team_container{
    background: transparent url('../../assets/images/bg4.png') 0% 0% no-repeat padding-box;
    background-size: cover;
    padding-top: 100px;
    padding-bottom: 100px;

}
.team_main_heading h1{
    color: #D9D344;
}
.team_members{
    width: 100%;
    max-width: 1161px;
    margin: 0 auto;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;

}
.team_member_wrapper{
    display: flex;
    width: 187px;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.team_member_wrapper h3 {
    text-align: left;
    font-family: Roboto;
    font-size: 31px;
    letter-spacing: 0px;
    color: #FFFFFF;
    margin: 0;
    margin-top: 20px;
    margin-bottom: 15px;
}
.team_member_wrapper p {
    text-align: left;
    font: normal normal normal 19px/29px Roboto;
    letter-spacing: 0px;
    color: #D9D344;
    margin: 0px;
}

@media screen and (max-width: 768px){
    .team_container{
        background: transparent url('../../assets/images/bg4.png') 0% 0% no-repeat padding-box;
        background-size: cover;
        padding-top: 100px;
        padding-bottom: 100px;
    }
    .team_main_heading h1{
        color: #D9D344;
    }
    .team_members{
        width: 100%;
        max-width: none;
        margin: 0 auto;
        margin-top: 50px;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-wrap: wrap;
    
    }
    .team_member_wrapper{
        display: flex;
        width: 187px;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    }
    
    .team_member_wrapper h3 {
        text-align: left;
        font-family: Roboto;
        font-size: 20px;
        line-height: 41px;
        letter-spacing: 0px;
        color: #FFFFFF;
        margin: 0;
        margin-top: 20px;
        margin-bottom: 15px;
    }
    .team_member_wrapper p {
        text-align: left;
        font: normal normal normal 12px/33px Roboto;
        letter-spacing: 0px;
        color: #D9D344;
        margin: 0px;
    }
}
